body {
    font-size: 20px;
  }
  body {
    padding-left: 400px;
    padding-right: 400px;
    background-color: rgb(11, 215, 147);
    background-image: url("img_tree.png");
  }
.center {
    text-align: center;
    color: rgb(3, 7, 8);
  }

  h4 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  h3 {
    color: rgb(19, 108, 224);
    text-shadow: 2px 2px 4px #ffffff;
  }
  ul.a {
    list-style-type: circle;
  }
  footer {
    background-color: #d40606;
    padding: 10px;
    text-align: center;
    color: white;
  }
  div {
    text-align: center;
    color: rgb(3, 7, 8);
  }
  iframe {
    padding-left: 250px;
    
    
  }
